@model ZavrsenProekt.ViewModels.VkluciTuristiViewModel
@{
    @ViewData["Title"]
}
<h2>Make Enrollments</h2>
<div class="row">
    <div class="col-md-4">
        <form asp-action="VkluciTuristi">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="VkluciSe.PosetaId" value="@ViewData["chosenId"]" class="form-control" readonly type="hidden" />
            </div>
            <div class="form-group">
                <label class="control-label">Tourists</label>
                <select asp-for="SelectedTourists" class="form-control js-example-basic-multiple" asp-items="Model.TouristList"></select>
                <span asp-validation-for="SelectedTourists" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VkluciSe.PaymentDate" class="control-label"></label>
                <input asp-for="VkluciSe.PaymentDate" class="form-control" type="hidden" />
                <span asp-validation-for="VkluciSe.PaymentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VkluciSe.PosetaUrl" class="control-label"></label>
                <input asp-for="VkluciSe.PosetaUrl" class="form-control" type="url"/>
                <span asp-validation-for="VkluciSe.PosetaUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VkluciSe.ZnamenitostUrl" class="control-label"></label>
                <input asp-for="VkluciSe.ZnamenitostUrl" class="form-control" type="url"/>
                <span asp-validation-for="VkluciSe.ZnamenitostUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VkluciSe.BrojKartica" class="control-label"></label>
                <input asp-for="VkluciSe.BrojKartica" class="form-control" type="hidden" />
                <span asp-validation-for="VkluciSe.BrojKartica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VkluciSe.CVC" class="control-label"></label>
                <input asp-for="VkluciSe.CVC" class="form-control" type="hidden" />
                <span asp-validation-for="VkluciSe.CVC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VkluciSe.ValidnostData" class="control-label"></label>
                <input asp-for="VkluciSe.ValidnostData" class="form-control" type="hidden" />
                <span asp-validation-for="VkluciSe.ValidnostData" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Enroll" class="btn btn-primary" />
            </div>
        </form>
    </div>

</div>